@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anna Soares</h1>
    <p class="lead"> Meu pc quase nao roda.</p>
    <p>
        <a href="/" class="btn btn-primary btn-lg">saiba mais &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>